@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    background-color: #F0EFED;
}

/* Nav-Bar */

nav {
    height: 100px;
    display: flex;
    background-color: #302D33;
}

#logo {
    width: auto;
    height: 150px;
}


.nav__links {
    display: flex;
}

.nav__link {
    margin-left: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #F0F0F0;
    transition: all 500ms ease;
}

.nav__link:hover {
    color: #DFB73C;
    text-decoration: underline;
}

/* Header */

.header__container {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    height: 20vh;
}

#contact__form {
    display: flex;
}

.form__item {
    width: 500px;
    display: flex;
}

input {
    width: 100%;
    border-radius: 20px;
    padding: 16px;
}

.search__input {
    display: flex;
    justify-content: end;
    align-items: center;
}

button {
    margin-top: 0.5rem;
    position: absolute;
    margin-left: 26rem;
    background-color: #DFB73C;
    font-size: 16px;
    text-align: center;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 999px;
    transition: all 500ms ease;
}

button:active{
    transform: scale(0.9);
}

button:hover{
    background-color: #AF8E2A;
}

/* Filter */ 

#filter{
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}

.filter__container{
    margin-left: 20px;
}

/* Movie area */


.movie__img{
    width: 200px;
}

.movies__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
}

.movie{
    width: 28%;
    padding: 10px;
    border-radius: 20px;
    height: 400px;
    margin-bottom: 20px;
    box-shadow: 0px -4px 72px -5px rgba(0,0,0,0.1);   
    text-align: center;
}

.movie__list {
    align-items: center;
}

img{
    transition: all 500ms ease;
    border-radius: 20px;
}

img:hover{
    transform: scale(0.95);
}

.movie h1{
    font-size: 20px;
    font-weight: 700;
}

.movie h2{
    font-size: 18px;
}

/* Loading */

.movies__loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies__loading--spinner{
    font-size: 40px;
    color: #DFB73C;
}

.movies__loading-none{
    display: none;
}
  

.fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* Footer */

footer{
    height: 20vh;
    background-color: #302D33;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.footer__detail{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

.footer__detail a{
    color: #DFB73C;
    transition: all 400ms ease;
}

.footer__detail a:hover{
    color: #AF8E2A;
}

.footer__title h3{
    color: #F0F0F0;
    font-weight: lighter;
}

.footer__copy{
    color: #F0F0F0;
    margin-top: 8px;
}



@media (max-width: 1050px){
    .movie{
        width: 45%;
    }
    footer{
        height: 100%;
        padding: 0px 0px 20px 0px;
    }
}


@media (max-width: 700px){
    .movie{
        width: 80%;
    }

    .movies__container{
        justify-content: center;
    }

    footer{
        height: 100%;
        padding: 0px 0px 20px 0px;
    }
}

@media (max-width:550px){
    .nav__links{
        display: none;
    }
    
    button{
        display: none;
    }

    footer{
        height: 100%;
        padding: 0px 0px 20px 0px;
    }
}